h1 {
font-family: "capucine-web", sans-serif;
font-weight: 700;
font-style: normal;
}

body {
  font-family: "capucine-web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

em {
  font-family: "capucine-web", sans-serif;
  font-weight: 700;
  font-style: italic;
}