h1{
    color:#59381C; 
}

p{
    color: #bb8262;
}

body {
    background-color: #f5dbe5;
  }

h3{
    color:#59381C; 
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: center;
}

li a {
  display: block;
  padding: 8px;
  background-color: #bb8262;
}
